blazeme-frontend/node_modules/
blazeme-frontend/yarn.lock
blazeme-frontend/package-lock.json
blazeme-frontend/.awcache
blazeme-frontend/.idea
blazeme-frontend/dist/
blazeme-frontend/.cache/
blazeme-frontend/yarn-error.log


blazeme-frontend/yarn-error.log
blazeme-backend/yarn.lock
blazeme-backend/package-lock.json
blazeme-backend/dist/
blazeme-backend/node_modules/
blazeme-backend/.env