.gridContainer {
  height: 70vh;
  &DeleteButton {
    background-color :#ccc;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      color: white;
      background-color: #831818;
    }
  }
}
