$headerHeight: 75px;

.navSpacer {
  height: $headerHeight;
  width: 100vw;
  margin-bottom: 40px;
}
nav {
  height: $headerHeight;
  display: flex;
  box-shadow: 0px 3px 15px gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  .logo {
    $logoHeight: 25px;
    background-image: url("../assets/i/blazelogo-blue.png");
    width: 200px;
    height: $logoHeight;
    position: relative;
    top: calc(#{$headerHeight/2} - #{$logoHeight/2});
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .navLink {
    font-weight: 300;
    line-height: $headerHeight;
    padding: 0px 25px;
    color: black;
    text-decoration: none;
    transition: 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:after {
      $underlineDistance: 15px;
      content: "";
      display: block;
      position: relative;
      width: 100%;
      background-color: black;
      height: 2px;
      bottom: $headerHeight/2 -$underlineDistance;
      transition: 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:hover {
      color: #00b2ff;
      &:after {
        background-color: #00b2ff;
      }
    }
  }
  .navLink.active {

    color: #00b2ff;
    &:after {
      background-color: #00b2ff;
    }
  
  }
}
